# Allow only what matters
!*.py
!requirements.txt
!README.md

# Allow Docker and config files
!Dockerfile
!Dockerfile.frontend
!*.bat
!*.sh
!*.yml

# Allow important folders
!templates/
!templates/**
!static/
!static/**
!src/
!src/**

# Keep gitignore itself
!.gitignore 